<!DOCTYPE html>
<html>

<head>
  <title>My First Map</title>

</head>

<body>
  <div>
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
  </div>
  <div id="map"></div>
  <script>
  window.places = {{{ plcStr }}}
 </script>

  <div class="container">
    <div class="row">
      {{#each places}}
      <div class="col-md-4">
        <div class="element-card">
          <div class="element-caption text-center">
            <h4 class="text-center">{{this.name}}</h4>
            <h5 class="text-center">{{this.lat}}</h5>
            <p class="text-center">{{this.shortDesc}}</p>
            <button>¿Dónde sucedio?</button>
          </div>
        </div>
      </div>
      {{/each}}

    </div>
  </div>
  

<script src="/javascripts/main.js"></script>
</body>

</html>