<!DOCTYPE html>
<html>

<head>
  <title>My First Map</title>

</head>

<body>
  <div>
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
  </div>
  <div id="map"></div>
  <script>
    window.events = {{{ plcStr }}}
  </script>

  <div>
    <button onclick="drawRoute()">Todas</button>
    <button onclick="drawCharRoute()">Personajes</button>
    <button onclick="drawArtRoute()">Arte</button>
    <button onclick="drawStoryRoute()">Anécdotas</button>
  </div>

            {{#each events}}
            <div class="col-md-4">
              <div class="element-card">
                <div class="element-caption text-center">
                  <h4 class="text-center">{{this.title}}</h4>
                  <h5 class="text-center">{{this.shortDesc}}</h5>
                  <img src="{{this.imgPath}}" alt="{{this.imgName}}"></p>
                  <h5 class="text-center">{{this.longDesc}}</h5>
                </div>
              </div>
            </div>
          </div>
          {{/each}}

        </div>
      </div>


      <script src="/javascripts/main.js"></script>
      <script src="/javascripts/tourism.js"></script>
</body>

</html>