<!DOCTYPE html>
<html>

<head>
  <title>My First Map</title>

</head>

<body>
  <div>
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
  </div>
  <div id="map"></div>
  <script>
    window.events = {{{ plcStr }}}
  </script>
<br>
  <div>
    <button onclick="drawRoute()">Todas</button>
    <button onclick="drawCharRoute()">Personajes</button>
    <button onclick="drawArtRoute()">Arte</button>
    <button onclick="drawStoryRoute()">Anécdotas</button>
  </div>

<br><br>

  {{#each events}}
    <div class="col-md-4">
      <div class="element-card">
        <div class="element-caption text-center">
          <h4 class="text-center">{{this.title}}</h4>
          <img src="{{this.imgPath}}" alt="{{this.imgName}}" width="400px">
          <p class="text-center">{{this.shortDesc}}</p>
          {{#if ../user}}
           <a href="/events/event-profile/{{./this._id}}">Leer más</a>
           {{/if}}
          {{!-- <h5 class="text-center">{{this.longDesc}}</h5> --}}
        </div>
      </div>
    </div>
  </a>
  <br><br>
  <p>-----------------------------------------------------------</p>
  {{/each}}
  <br><br>

  <script src="/javascripts/tourism.js"></script>
  <script src="/javascripts/main.js"></script>
</body>

</html>