<!DOCTYPE html>
<html>

<head>
  <title>My First Map</title>
  <style>
    #map {
      height: 500px;
      width: 100%;
      background-color: grey;
    }
  </style>
</head>

<body>
  <div>
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
  </div>
  <div id="map"></div>
  <div class="container">
    <div class="row">
      {{#each place}}
      <div class="col-md-4">
        <div class="element-card">
          {{!-- <div class="img-box">
            <img class="img-fluid text-center" src="{{this.image}}" />
          </div> --}}
            <div class="element-caption text-center">
            <h4 class="text-center">{{this.name}}</h4>
            <h5 class="text-center">{{this.lat}}</h5>
            <p class="text-center">{{this.shortDesc}}</p>
          </div>
        </div>
      </div>
      {{/each}}

    </div>
  </div>



</body>

</html>