<!DOCTYPE html>
<html>

<head>
  <title>My First Map</title>

</head>

<body>
  <div>
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
  </div>
  <div id="map"></div>
  <script>
    window.events = {{{ plcStr }}}
  </script>


  {{#each events}}

  <a href="/events/event-profile/{{this._id}}">
    <div class="col-md-4">
      <div class="element-card">
        <div class="element-caption text-center">
          <h4 class="text-center">{{this.title}}</h4>
          <h5 class="text-center">{{this.shortDesc}}</h5>
          <img src="{{this.imgPath}}" alt="{{this.imgName}}"></p>
          <h5 class="text-center">{{this.longDesc}}</h5>
        </div>
      </div>
    </div>
    </div>
  </a>

  {{/each}}

  </div>
  </div>


  <script src="/javascripts/main.js"></script>
</body>

</html>