<h1>Tu página de usuario: {{user.username}}</h1>
<img src="{{user.imgPath}}" alt="{{user.imgName}}">
<br>
<a href="/logout" class="btn btn-dark">Log out</a>

<h3>Estos son tus comentarios:</h3>
{{#each comments}}
    <h3>{{this.title}}</h3>
    <p>{{this.content}}</p>
    <img src="{{this.imgPath}}" alt="{{this.imgName}}">
{{/each}}